html {
	background-color: white ;
	font-family: 'Open Sans', sans-serif;;

}



h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
	background:
	-webkit-text-fill-color: transparent;
}

p{
	font-family: 'Open Sans', sans-serif;
}

h2{
	font-family: 'Open Sans', sans-serif;
	color: #613476;
}

a{
	font-family: 'Open Sans', sans-serif;
}

.button-variant {
	color: #FFFFFF;
	background-color: #AC5FD0;
}

.button-variant-2 {
	color: #FFFFFF;
	background-color: #FF7218;
}

.logo-header {
	padding-top: 33px;
	padding-left: 173px;
}

.logo {
	height: 40px;
}

					/*intro welcome to Rooster Grin Strip*/
.intro-strip{
	height: 700px;
	width: auto;
	margin: 0 auto;
	position: relative;

	background-image: url("../front-end-dev-test-assets/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: #FAFAFA;*/
	
}

.intro-contents{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.intro-contents h1 {
	color: #FFFFFF;
	font-size: 65px;
	margin: 0 auto;

}
.intro-contents h2 {
	color: #FFFFFF;
	font-size: 60px;
	margin: 0 auto;

}

.intro-contents button{
	margin-top: 30px;
}

					/*split intro strip 2*/

.strip-2 {
	height: 526px;
	position: relative;

}

.img-1{
	position: absolute;
	max-width: 720px;
	height: auto;
}

.container {
	height: 500px;

}

					/*info banner Strip 3*/

.strip-3 {
	height: 600px;
	background-image: url("../../front-end-dev-test-assets/banner-1.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

					/*features banner Strip 4*/

.strip-4 {
	height: 600px;
	background-color: #FFFFFF;
	
}

.strip-4 .row{
justify-content: center;

}

#ft-grid{
	background-color: #FAFAFA;
	text-align: center;

	display: grid;
	justify-content: center;
	align-content: center;

  gap: 4px;
  grid-auto-flow: column;
}

.feature-img {
	height: 100px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

							/*strip 5 testimonials*/

.main-comment {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#client-testimonial-carousel {min-height: 350px;}

.fa-star {
	color: orange;
}

.dark {
	color: black;
}


.carousel-indicators li {
	border-top: 0px solid black;
	border-radius: 50%;
}

.review-author {
	color: #613476;
}

.blockquote p{
	padding-bottom: 20px;
}

footer {
	text-align: center;
}





